<div class="dashboard-container">
  <app-market-robot-widget
    marketName="USD"
    [items]="marketRobotWidgetItems"
  ></app-market-robot-widget>
  <app-market-robot-widget
    marketName="EUR"
    [items]="marketRobotWidgetItems"
  ></app-market-robot-widget>
  <app-market-robot-widget
    marketName="CNY"
    [items]="marketRobotWidgetItems"
  ></app-market-robot-widget>
  <app-market-robot-widget
    marketName="SBER"
    [items]="marketRobotWidgetItems"
  ></app-market-robot-widget>

  <div class="dashboard-add-robot-widget">
    <div>Добавить инструмент +</div>
  </div>
</div>
