<table>
  <thead>
  <th>Список котировок</th>
  </thead>
  <thead>
  <th>Название</th>
  <th>Цена</th>
  <th>Изм. в %</th>
  </thead>
  <tbody>
  <ng-container *ngIf="!(isMarketsLoading$ | async) else loader">
    <tr *ngFor="let market of markets$ | async">
      <td>{{market.icon}} {{market.name}}</td>
      <td>{{market.price || '—'}}</td>
      <td
        appByNumberSignColor
        [number]="market.dayPercentageChange!"
      >{{market.dayPercentageChange + '%'}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>

<ng-template #loader>
  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg" style="margin:auto;background:transparent;display:block;" width="70px"
         height="70px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#a6bdd5"
              stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1"
                          values="0 50 50;360 50 50"></animateTransform>
      </circle>
    </svg>
  </div>
</ng-template>
