:host {
  display: block;
  height: 100%;
  overflow: hidden;
  border-left: solid 5px black;
}

table {
  display: block;
  color: rgb(166, 189, 213);
  height: 100%;
  width: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  thead {
    display: table;
    width: 100%;
    height: 30px;
    position: sticky;
    top: 0;
    user-select: none;
    box-sizing: border-box;

    &:first-child {
      border-bottom: 1px solid gray;
    }

    th:first-child {
      text-align: left;
    }

    th {
      width: 100px;
      text-align: right;
      padding: 5px;
      background-color: rgb(36, 52, 66);
      cursor: pointer;
    }
  }

  tbody {
    display: table;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(36, 52, 66);

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: rgb(33, 43, 63);
      }

      &:nth-child(even) {
        background-color: rgb(36, 52, 66);
      }

      &:hover {
        color: rgba(179, 199, 219, 1);
        background-color: rgba(44, 60, 75, 1);
      }

      td:first-child {
        text-align: left;
      }

      td {
        text-align: right;
        padding: 5px;
      }
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
