:host {
  display: block;
  height: 100%;
  overflow: hidden;
  border-left: solid 5px black;
}

table {
  display: block;
  color: rgb(166, 189, 213);
  height: 100%;
  width: 440px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  thead {
    display: table;
    width: 100%;
    height: 30px;
    position: sticky;
    top: 0;
    user-select: none;
    box-sizing: border-box;
    z-index: 1;

    &:first-child {
      border-bottom: 1px solid gray;
    }

    th:first-child {
      text-align: left;
    }

    th {
      width: 100px;
      text-align: right;
      padding: 5px;
      background-color: rgb(36, 52, 66);
      cursor: pointer;
    }
  }

  tbody {
    display: table;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(36, 52, 66);

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: rgb(33, 43, 63);
      }

      &:nth-child(even) {
        background-color: rgb(36, 52, 66);
      }

      &:hover {
        color: rgba(179, 199, 219, 1);
        background-color: rgba(44, 60, 75, 1);
      }

      td:first-child {
        text-align: left;
      }

      td {
        text-align: right;
        padding: 5px;
      }

      td:last-child {
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
