<table>
  <thead>
  <th>Уведомления</th>
  </thead>
  <thead>
  <th>Название</th>
  <th>Время</th>
  </thead>
  <tbody>
<!--  <ng-container *ngIf="!(isNotificationsEmpty$ | async) else noDataPlaceholder">-->
<!--    <tr *ngFor="let notification of notifications$ | async">-->
<!--      <td>{{notification.marketName}}</td>-->
<!--      <td>{{notification.time}}</td>-->
<!--    </tr>-->
<!--  </ng-container>-->
  </tbody>
</table>

<ng-template #noDataPlaceholder>
  <div class="no-data-placeholder">Уведомлений нет</div>
</ng-template>
